@page "/Admin/LookupUrl"
@using System.Text
@using WeeklyXamarin.Core.Services

<h1>Submit a link </h1>
<div class="wx-card">
    <div class="wx-container search-box" style="display: flex; flex-direction: column;">
        <MatTextField Label="Enter article URL" @bind-Value="@Url" Style="flex-grow: 1;" Class="wx-field"></MatTextField>
 
        <MatButton Disabled="@(string.IsNullOrWhiteSpace(Url) || !Uri.TryCreate(Url, UriKind.Absolute, out _))" OnClick="LoadArticle" Label="Process" Class="wx-field"></MatButton>
        @if(Article != null)
        {
            <MatTextField Label="Title" @bind-Value="@Article.Title" Style="flex-grow: 1;" Class="wx-field" ></MatTextField>
            <MatTextField TextArea="true"  Label="Description" @bind-Value="@Article.Description" 
                                FullWidth="true" Style="flex-grow: 1;" Class="wx-field"></MatTextField>

            @if(Categories != null)
            {
                <MatSelectItem Items="@Categories" @bind-Value="@Article.Category" Label="Select Category">
                    <ItemTemplate>
                        <span>@context</span>
                    </ItemTemplate>
                </MatSelectItem>
            }

            @if(AuthorNames != null)
            {
                <MatSelectItem Items="@AuthorNames" Value="@Article.Author" Label="Select Author" ValueChanged="@((string s) => AuthorSelected(s))">
                    <ItemTemplate>
                        <span>@context</span>
                    </ItemTemplate>
                </MatSelectItem>
            }
            
            <pre>@Article.ToJson()</pre>
            <pre>@CuratedByLine</pre>
        }
    </div>
</div>

    <h2>Curated</h2>

<div class="wx-card">
    <div class="wx-container search-box" style="display: flex; flex-direction: column;">
@*        <MatTextField Label="Curated API Key" @bind-Value="@CuratedKey" Style="flex-grow: 1;" Class="wx-field" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
        <MatTextField Label="Curated Publication ID" @bind-Value="@CuratedPublicationId" Style="flex-grow: 1;" Class="wx-field" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
*@
        <MatButton OnClick="PostToCurated" Label="Post To Curated" Class="wx-field"></MatButton>
</div>
</div>


