<div class="wx-card" style="--category-color: var(--@CategoryColor, black);">
    <div class="wx-container">
        <NavLink @key="Url" href="@Url" target="@(OpenInNewTab ? "_blank" : "_self")">
            @Title
        </NavLink>
        <h3>@Subtitle</h3>
        <p>@Body</p>
        @if(Category != null)
        {
            <span class="lozenge @CategoryClass">@Category</span>
        }
    </div>
</div>
@code {
    [Parameter]
    public RenderFragment? Title { get; set; }
    [Parameter]
    public string Subtitle { get; set; } = "";
    [Parameter]
    public string Body { get; set; } = "";
    [Parameter]
    public string Image { get; set; } = "";
    [Parameter]
    public string Url { get; set; } = "";
    [Parameter]
    public string Category { get; set; } = "";
    [Parameter]
    public bool OpenInNewTab { get; set; }
    string CategoryClass => Category == "XAMARIN FORMS" ? "category-xamarin-forms" : "category-unknown";
    string CategoryColor => WeeklyXamarin.Core.Models.Category.CategoryToColor(Category);//ValueConverter?
}
