@using MonkeyCache;
@inject IBarrel Barrel;
@inject IJSRuntime jSRuntime;

<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code { 
    protected override async Task OnInitializedAsync()
    {
        await  base.OnInitializedAsync();
        var storedTheme = Barrel.Get<bool>("is-dark-theme");
        await jSRuntime.InvokeVoidAsync("switchTheme", storedTheme);
    }
}
